
.list-detail {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  /* overflow: scroll; */

}
.storage-image-container {
  display: flex;
  justify-content: center;
  height: 25vh;
  padding: 0;
}

.list-detail-storage-image {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid black;
  border-radius: 5px;
}

.list-detail-title,
.long-description-title,
.list-detail-max-coverage-title,
.list-detail-address,
.list-detail-price,
.list-detail-host-full-name {
  font-weight: bold;
}
.list-detail-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 24px;
}

.list-detail-host-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.host-image-container {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.list-detail-host-picture {
  width: 100px;
  object-fit: fill;
}
.list-detail-host-full-name {
  margin-top: 10px;
  font-size: 20px;
}
.price-container,
.max-coverage {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.location-and-user-profile {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.list-detail-address {
  color: grey;
}
.max-coverage,
.price-container {
  font-size: 21px;
  margin-top: 5px;
}

.long-description-title,
.list-detail-max-coverage-title,
.list-detail-price {
  font-size: 21px;
  font-weight: bold;
}

.list-detail-address {
  font-size: 20px;
}

.long-description {
  margin-top: 5px;
}

.landing {
  background-color: #DDAB36;
  color: #fff;
  font-family: 'Nunito';
  text-align: center;
}

.storio-logo {
  height: 100px;
}

.storio-heading {
  font-weight: bold;
}

.new-listing-heading {
  text-align: center;
}

.validation-error-message {
  color: red;
}

.listing-button {
  background-color: #DDAB36;
  color: white;
}
.message-by-logged-in-user,
.message-by-other {
  position: relative;
  display: flex;
}
.message-by-logged-in-user{
  justify-content: flex-end;
}
.message-by-other {
  justify-content: flex-start;
}
.message {
  border-radius: 5px;
  background-color: #ddab36;
}

.send-message-button {
  font-size: 35px;
  color: #DDAB36;
}

.right-arrow {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 17px solid #DDAB36;
  border-bottom: 5px solid transparent;
  position: absolute;
  right: 1%;
  bottom: 12%;
}

.left-arrow {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 17px solid #DDAB36;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 1%;
  bottom: 12%;
}

.message-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.sync-button {
  display: flex;
  justify-content: center;
  color: #DDAB36;
  font-size: 30px;
}

.navigation-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
  height: 10vh;
  color: #DDAB36;
  font-size: 30px;
  border-top: 2px solid darkgrey;
}

.navigation-bar-user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #DDAB36;
  font-size: 14px;
  overflow: hidden;
  object-fit: contain;
}

.navigation-bar-user-icon {
  font-size: 30px;
}

.google-map-container {
  height: 80vh;
  background-color: #c4c4c4;
}

.message-textarea {
  overflow:  ;
}

.list-item-image {
  max-width: 200px;
}

.card-title {
  font-weight: bold;
}
